<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Enter password</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">Enter password</p>
    <form id="form1" name="form1" action=" " method="post" enctype="multipart/form-data">
        <label>
            <input id="password" name="password" class="pass" type="password" align="center" placeholder="Password" required>
            {% if error != None%}
                <p class="error" id="error" align="center">{{error}}</p>
            {% endif %}
        </label>
        <input class="submit" align="center" type="submit" value="Go"/>
    </form>
</div>

</body>

</html>
